body {
  font-family: 'Rock Salt', cursive;
  margin: 0;
  padding: 0;
  background: rgb(56, 55, 55);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 .bg-info{
  background-image: radial-gradient( circle farthest-corner at 24.1% 68.8%,  rgba(50,50,50,1) 0%, rgba(0,0,0,1) 99.4% );
}


label {
 
  font-size: 22px;
}

legend {
  font-size: 40px;
}


form.card{
  border: none;
}

.card-header{
  color:white
}
.letra {
  white-space: pre-wrap;
}


h2 {
  margin-bottom: 2rem;
  font-family:  cursive;
  border-bottom: 3px solid #EB6864;
  padding-bottom:10px;
}
.card-header{
  color:white;
  text-align: center
}
.img-artist{
  width: 100%;
  margin-bottom: 1rem;
}
.card-body i {
  font-size: 3rem;
  margin-right: 3rem;
}


.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #0084b4;
}
.fa-lastfm {
  color: #d51007;
}